../XSLPhotoBrowser.xcworkspace/xcuserdata/liaopeizhi.xcuserdatad/UserInterfaceState.xcuserstate
xcuserdata
*.xcuserstate
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate 
../XSLPhotoBrowser.xcworkspace/xcuserdata/